
.container{
  width:650px;
}



.head-line{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg{
  width: 480px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  /* 윈도우 창을 줄일 시 버튼 칸이 안 삐져 나오게 */
  flex-wrap: wrap;
  border-top: #ebebeb;
  border-bottom: 4px double black;
}

.menus button{
  border: none;
  background: none;
  margin: 5px
}

.menus button:hover{
  background-color: rgba(236, 236, 236, 0.966);
}
.news-img-size{
  /* 부모의 100% */
  max-width: 100%;
  max-height: 100%;
}
.news{
  border-bottom: 2px solid black;
}


.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

.fa-search:hover {
  color: rgb(155, 158, 0); 
  cursor: pointer; 
}


.icon-button {
  padding: 8px 9px 9px;
  margin-top: 5px;
}



@media(min-width: 767px){
  .fa-bars {
    display: none;
  }
}


@media (max-width: 767px){

  .fa-bars {
    display: inline-block;
  }

	.fa-bars:hover{
    color: rgb(151, 35, 247); 
    cursor: pointer;
  }
};

